* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  height: 100vh;
  display: grid;
  place-items: center;
}
canvas {
  border: 2px solid #343434;
  box-shadow: 0 0 1em 0.5em #111;
}
